body {
    font-family: "Caprice";
    background: rgb(97,55,137);
    background: linear-gradient(175deg, rgba(97,55,137,1) 28%, rgba(74,36,107,1) 46%, rgba(50,16,74,1) 61%);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.sobre {
    margin-bottom: 20px;
}

.sobre p, .card p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
}

h2, h3 {
    font-size: 2rem;
    color: rgb(180, 177, 183); /* Roxo conforme o tema da loja */
    margin-bottom: 10px;
}

.card {
    background-color: rgb(97, 55, 137); /* Roxo conforme o tema da loja */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
